@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
}

/* ===== ESTILIZAÇÃO DO CABEÇALHO ===== */

.navbar{
    background-color: #298f15;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 2%;
    font-size: 15px;
}

.logo-if{
    width: 30%;
}

.pag-tutorial{
    text-decoration: none;
    color: black;
    font-size: 30px;
}

/* ===== ESTILIZAÇÃO DO CORPO ===== */

.fade {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.fade.hidden {
    opacity: 0;
    visibility: hidden;
}

.successMessage {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.successMessage h1{
    box-shadow: 5px 5px 10px rgb(118, 145, 91);
    background-color: rgb(243, 255, 231);
    border: solid 1px #c0c4c0;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
}

.unsuccessMessage {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.unsuccessMessage h1 {
    box-shadow: 5px 5px 10px rgb(145, 91, 91);
    background-color: rgb(252, 209, 209);
    border: solid 1px #ffa5a5;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
}

.sigefica{
    background-color: rgb(243, 255, 231);
    border: solid 1px #c0c4c0;
    border-radius: 10px;
    padding: 2%;
    margin: 2% 25%;
    box-shadow: 5px 5px 10px rgb(118, 145, 91);
}

.input-group{
    padding: 10px;
}

.input-group h2{
    font-weight: bold;
    font-size: 25px;
    padding: 1% 0;
}

.input {
    width: 100%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input:focus {
    border-color: #298f15;
    outline: 0;
    box-shadow: 0 0 5px #298f15;
}

.button {
    background-color: #298f15;
    color: #fff;
    border: 2px solid #298f15;
    border-radius: 5px;
    margin: 10px 0;
    padding: 8px 16px;
}

.button:hover,
.button:focus {
    background-color: #39b81f;
}

/* ===== ESTILIZAÇÃO DO PDF */

.pdf-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.pdf-object {
    width: 100%;
    height: 100%;
}

/* ===== ESTILIZAÇÃO DO RODAPÉ ===== */

footer{
    background-color: #298f15;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5%;
}
.devs a{
    text-decoration: none;
    color: black;
}

.logo-ifrn{
    width: 30%;
}